6LoWPAN - Stateless Address Autoconfiguration

**_Reported by Gajinder Vij:_**
The Interface Identifier [RFC4291] for an IEEE 802.15.4 interface may be based on the EUI-64 identifier [EUI64] assigned to the IEEE 802.15.4 device.  In this case, the Interface Identifier is formed from the EUI-64 according to the "IPv6 over Ethernet" specification [RFC2464] 
(See RFC 4944, Chapter 6)
(Imported from Jira ZEP-879)

**_by Ravi kumar Veeramally:_**
Done, available in net branch.

**_by Anas Nashif:_**
please ACCEPT jiras you are working on, do not leave them in NEW state