Thread Protocol

**_Reported by Gajinder Vij:_**
As a Zephyr developer, I would like native support for the Thread Protocol v1.1 so that I can rapidly deploy Thread Protocol compatible solutions.

- [ ] GH-2258: Enable OpenThread support for Zephyr
- [ ] GH-745: Thread requirements in RFC4944
- [ ] GH-744: Thread requirements in RFC4443
- [ ] GH-743: Thread requirements in RFC4291
- [ ] GH-742: Thread requirements in RFC2460
- [ ] GH-741: Thread requirements in RFC1122 
- [x] GH-650: Port AES-CMAC-PRF-128 [RFC 4615] encryption library for Thread support

(Imported from Jira ZEP-337)

**_by ethan gao:_**
The Thread protocol is moved into v1.7, and all the current Thread requirements are related to the low-layer protocols like 6lowpan/RPL/802.15.4 etc, which are necessary base for Thread to work, but is there any information/requirement regarding the Thread itself ? for example, will we implement it referring to the openthread ?

**_by Patrik Flykt:_**
We'll return to planning a built-in Thread implementation once OpenThread in GH-2258 concludes. Therefore marking version as "Future".